<template name="newJoke">
    <div class="">
        <input type="hidden" id="joke_id">
        <div>
            <label for="joke">Joke</label>
            <input type="text" name="joke" id="joke">
        </div>
        <div>
            <label for="category">Category</label>
            <input type="text" id="category">
        </div>
        <div>
            <button type="button" class="btn btn-default" id="resetJoke">Reset</button>
            <button type="button" class="btn btn-primary" id="saveJoke">Save</button>
        </div>
    </div>
</template>